#ImgToOpen {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#ImgToOpen:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.AreaToView {
    /* Hidden by default */
    display: none;

    /* Stay in place */
    position: fixed;
    
    /* Sit on top */
    z-index: 100;
    
    /* Location of the box */
    padding-top: 100px;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    /* Enable scroll if needed */
    overflow: auto;
    
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    /* Black opacity */
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.ImgOpenned {
    margin: auto;
    display: block;
    width: 95%;
}

/* Caption of Modal Image */
.Description {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* The Close (cross) button */
.Cross {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.Cross:hover,
.Cross:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* On phones */
@media only screen and (max-width: 767px) {
    .ImgOpenned {
        width: 95%;
    }
}