.content {
    padding: 80px 0px 0px 0px;
}

.container_page {
    max-width: 100%;
    margin: 0 auto;
    padding: 25px 25px 25px 25px;
    background-color: #063060;
}

.date_p {
    color: #ffffff;
    font-size: 15px;
    font-style: oblique;
    padding-bottom: 20px;
}

.about_site {
    margin-bottom: 25px;
    padding: 0px 25px 25px 0px;
    background-color:#2d89a0;
    border-radius: 10px;
}
.about_site h1 {
    color: #ffffff;
    padding: 25px 0px 15px 10px;
}
.about_site p {
    color: #ffffff;
    padding-left: 25px;
}

.sections_site {
    margin-bottom: 20px;
    background-color:#2d89a0;
    border-radius: 10px;
}
.sections_site h1 {
    color: #ffffff;
    padding: 25px 0px 15px 10px;
}
.sect li h3 {
    color: #ffffff;
    padding: 5px 0px;
}
.sect {
    padding: 0px 100px 50px 25px;
    list-style-type: none;
}
.more {
    text-decoration: none;
    color: rgb(30, 51, 81);
}

.more:hover {
    text-decoration:underline;
    color: rgb(108, 211, 240);
}

.viewPicture {
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color:#2d89a0;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .sect li h3 {
        padding: 7px 0px;
    }
}