.content {
    padding: 80px 0px 0px 0px;
}

.container_page {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 0px 20px 25px;
    background-color: #063060;
}

.about_pr h1, .about_pr h2 {
    color: #ffffff;
    padding: 60px 0px 20px 0px;
}

p {
    color: #ffffff;
    margin: 0px 10px 0px 0px;
    font-size: 18px;
    line-height: 25px;
}

@media (max-width: 767px) {
    .content {
        padding: 345px 0px 0px 0px;
    }
}