/* ================ Footer ================ */
.footer {
    display: block;
    box-sizing: border-box;
    position: relative;
    background-color: #021831;
}

.container_footer {
    padding: 20px 20px;
}

.logo_div {
    width: 100%;
}

.d-flex {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

.col {
    background-color: #063060;
    padding-bottom: 5px;
    width: 100%;
    border-radius: 10px;
}

.col h2 {
    padding-top: 10px;
    font-size: 15px;
    color: white;
    padding-left: 20px;
}

.item_menu {
    width: 100%;
}

.item_menu li {
    list-style: none;
    padding: 5px 0px 5px 20px;
}

.footer_link {
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.footer_link:hover {
    color: rgb(64, 126, 225);
}

.social {
    display: flex;
    margin-top: 20px;
}

.container_social {
    width: 100%;
    height: 100%;
    background-color: #063060;
    border-radius: 10px;
    padding: 10px;
}

.social_net {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.social_net li:not(:last-child) {
    margin-right: 20px;
}

.social_link  {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
}
.social_link img {
    width: 35px;
    height: 35px;
    transition: all 1s ease;
}
.social_link p {
    display: none;
    margin-left: 20px;
    font-weight: bold;
}

.social_copyrights {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    justify-content: stretch;
}

.social_copyrights li {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px;
}

.social_copyrights li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}


@media (max-width: 455px) {
    .social_net {
        flex-direction: column;
        align-items: stretch;
    }

    .social_net li:first-child {
        margin-right: 0px;
    }

    .social_net li:not(:first-child) {
        margin-top: 20px;
        margin-right: 0px;
    }

    .social_link:hover p {
        color: rgb(64, 126, 225);
    }
    .social_link:hover img {
        width: 50px;
        height: 50px;
        transition: all 1s ease;
    }

    .social_link p {
        display: block;
    }
}

@media (max-width: 640px) {
    .social_copyrights {
        flex-direction: column;
        margin-top: 20px;
    }
    
    .social_copyrights li:not(:first-child) {
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    .d-flex {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 420px) {
    .d-flex {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 767px) {
    .col h2 {
        font-size: 18px;
    }
}