/* =========== Default (ALL) =========== */

*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


/*================ Navigation ================*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(2, 24, 49);
}

.container_header {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header_body {
    position: relative;
    display: flex;
    height: 80px;
    justify-content: left; /* по горизонтали */
    align-items: center; /* по вертикали */
}

.header_logo, .header_logo a, .header_logo  img{
    height: 100%;
}

.header_burger {
    display: none;
}
.burger_menu {
    display: none;
}

.header_menu {
    height: 100%;
}

.header_list {
    display: flex;
    height: 100%;
    align-items: center;
}

.header_list li {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

.header_link {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 10px 0px 10px;
}

@media (max-width: 767px) {
    body.lock { overflow: hidden; }

    .header { z-index: 3; }

    .container_header {
        max-width: none;
        padding: 0px 15px;
        width: 100%;
    }

    .header_body { height: 60px; }   
    
    .header_menu { display: none; }

    .header_burger {
        display: block;
        position: absolute;
        align-items: center;
        right: 5px;
        width: 40px;
        height: 30px;
    }
    .r1, .r2, .r3 {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .r1 { top: 0px; }
    .r2 { top: calc(50% - 3px); }
    .r3 { bottom: 0px; }
    .header_burger.active .r1{
        transform: rotate(45deg);
        top: 50%;
        transition: all 0.3s ease 0s;
    }
    .header_burger.active .r2{
        display: none;
        transition: all 0.3s ease 0s;
    }
    .header_burger.active .r3{
        transform: rotate(-45deg);
        top: 50%;
        transition: all 0.3s ease 0s;
    }

    .burger_menu {
        top: -1000%;
        z-index: 2;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(2, 24, 49);
    }
    .burger_menu.active {
        position: fixed;
        overflow:scroll;
        top: 0;
        transition: all 0.3s ease 0s;
    }

    .burger_list {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        width: 100%;
        height: 100%;
    }
    
    .burger_list li {
        list-style: none;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: rgb(2, 24, 49);
    }

    .burger_link {
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        display: flex;
        padding: 25px 0px;
        width: 100%;
        flex-direction: column;
    }
}