.content {
    padding: 80px 0px 0px 0px;
}

.container_page {
    max-width: 100%;
    margin: 0 auto;
    padding: 25px 25px 25px 25px;
    background-color: #063060;
}

@media (max-width: 767px) {
    .content {
        padding: 60px 0px 0px 0px;
    }
}
.shapka {
    overflow: hidden;
    display: flex;
}