.content {
    padding: 80px 0px 0px 0px;
}

.container_page {
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
    background-color: #063060;
}

.Header_product {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid rgb(4, 255, 0);
}
.icon_p {
    width: 150px;
    height: 150px;
}
.t_desc {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.title {
    color: white;
    font-weight: bold;
    font-size: 28px;
}
.descr {
    color: white;
    font-size: 15px;
    margin-top: 15px;
}
.dots {
    display: inline;
}
.moreTxt {
    display: none;
}
.myBtn {
    color: #3cadc1;
    font-weight: bold;
}

.Photos_product {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid rgb(4, 255, 0);
}

/* ------------ PC Viewport ------------ */
.DIV_PCviewport {
    margin-top: 20px;
    width: 100%;
}

.view_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrowL, .arrowR {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    background-color: #53c1e0;
    transition: all 0.5s ease 0s;
}
.arrowL:hover, .arrowR:hover {
    background-color: #00ff0dc0;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.lst_photosPC {
    list-style: none;
    border-radius: 10px;
    margin: 0px 20px;
    
    /* scroll snapping */
    scroll-snap-type: x mandatory;
    overflow-x: scroll;

    /* hide scrollbar */
    overflow: hidden;
}

.itemPC {
    display: flex;
    height: 500px;
    border: 5px solid #53c1e0;
    border-radius: 10px;
    aspect-ratio: 9/16;
    justify-content: center;
    align-items: center;
}
.itemPC img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.infoP {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}
/* -------------------------------------- */


/* ------------ Mobile Viewport ------------ */
.DIV_Mviewport {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.viewport {
    margin-top: 20px;
    width: 253.125px;
    height: 450px;
}

.lst_photosM {
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;

    /* scroll snapping */
    scroll-snap-type: x mandatory;
    overflow-x: scroll;

    /* prevent accidentally going back or triggering other swipe events */
    overscroll-behavior: contain;

    /* hide scroll bar */
    scrollbar-width: none;
    -ms-overflow-style: none;

    /* momentum scroll on iOS */
    -webkit-overflow-scrolling: touch;

    /* disbable vertical scroll for touch */
    touch-action: pan-x;
}
  
.lst_photos::-webkit-scrollbar { display: none; }

.itemM {
    flex-shrink: 0;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    scroll-padding-inline-start: 0px;
    scroll-padding-inline-end: 0px;
}
.itemM {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.itemM img {
    height: 100%;
    width: 100%;
}
.itemM:last-child { position: relative; }
.itemM:last-child::after {
    position: absolute;
    left: 100%;
    height: 1px;
    width: 50px;
    display: block;
    content: "";
}

.indicatorsList {
    list-style: none;
    display: flex;
    margin-top: 25px;
    width: 100%;
    justify-content: center;
}
  
.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 1);
}
  
.indicator:not(:last-child) { margin-right: 16px; }
  
.indicator.active { background-color:rgb(0, 68, 255); }  /* #e60576*/
/*----------------------------------------------------------*/

.Download_product {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid rgb(4, 255, 0);
}
.downloads {
    margin: 25px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    height: fit-content;
}
.downloads li {
    display: flex;
    justify-content: center;
    width: 100%;
}
.pr_link_android, .pr_link_ios, .pr_link_git {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}
.pr_link_android {
    background-color: rgb(114, 241, 140);
    color: #489834;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
}
.pr_link_android:hover {
    background-color:#489834;
    color: rgb(114, 241, 140);
    transition: all 0.5s ease 0s;
}
.pr_link_ios {
    background-color: rgb(255, 255, 255);
    color: #959595;
    margin: 0px 10px;
    transition: all 0.5s ease 0s;
}
.pr_link_ios:hover {
    background-color: #959595;
    color:  rgb(255, 255, 255);
    transition: all 0.5s ease 0s;
}
.pr_link_git {
    background-color: rgb(84, 93, 86);
    color: #ffffff;
    margin-left: 10px;
    transition: all 0.5s ease 0s;
}
.pr_link_git:hover {
    background-color: #ffffff;
    color:  rgb(84, 93, 86);
    transition: all 0.5s ease 0s;
}

.Comments_product {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid rgb(4, 255, 0);
}



@media (max-width: 367px) {
    .viewport {
        width: 100%;
    }

    .indicator {
        width: 7px;
        height: 7px;
    }
}

@media (max-width: 610px) {
    .Header_product {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .t_desc {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .icon_p {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .content {
        padding: 60px 0px 0px 0px;
    }

    .DIV_PCviewport { display: none; }
    .DIV_Mviewport { display: flex; }

    .downloads {
        flex-direction: column;
    }

    .downloads li {
        padding: 10px 0px;
        justify-content: left;
        margin: 0px;
    }

    .pr_link_android, .pr_link_ios, .pr_link_git {
        font-size: 20px;
        margin: 0px;
    }
}